@CHARSET "ISO-8859-1";
html, body {
	margin: 0;
	padding: 0;
}

#header-wrapper{
    position: relative;
    width: 100%;
	margin: 0 auto;
	padding: 0;
	z-index: 1;
	background: Black;
}	

#menu_wrapper{
	width:100%;
	height:100%;
	max-width:1370px;
	margin: 0 auto;
	
}

#logo-div {
	position: relative;
	width: 45%;
	background-image: url('../Images/Header/logo_2_small.png');
	background-repeat: no-repeat;
	margin-left: 0;
	height: 100%;
}	

#menu{
	position: relative;
	float: right;
	height: 100%;
	width: 54em;
}

/*########################################### STARTING SMALL MENU STYLE ##################################################*/

#small_menu_icon {
    display: inline-block;
    cursor: pointer;
    float: right;
}

.bar1, .bar2, .bar3 {
    background-color: #f49000;
    transition: 0.3s;
}


#small_menu{
	position: fixed;
	z-index:6;
	overflow:auto;
	background:#4a4a4a;
	display:none;
}

#small_menu ul{
	padding:0;
	margin:0;
	list-style-type: none;
}

.small_menu_subitems a{
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration:none;
}

.small_menu_subitems a:hover {
   color: #f49000;
}	
	

.small_menu_subitems{
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration:none;
}

.small_menu_subitems:hover {
    cursor: pointer;
    color: #f49000;
}	
	
.small_menu_items{
	color: #f49000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	border-bottom: 1px dotted #7d7d7d;
	min-width: 10em;
}

.small_menu_items:hover {
    cursor: pointer;
 }	
	

#small_account_menu a{
	text-decoration:none;
}

.small_menu_items:last-child
{
	margin-bottom: 8em;
}

#small_language_menu ul li div span{
	margin-top: -.3em;
}

#small_language_menu ul li div img{
	position: absolute;
	   
}

.small_menu_divs{
    display:none;	
}

.small_menu_divs div{
    width: auto;
}	

#small_language_menu li div{
	background-repeat: no-repeat;
	background-size: 1.5em;
	background-position:center;
}	

#cover_screen{
	position: fixed;
	z-index:5;
	opacity: 0.2;
    filter: alpha(opacity=20);
	background: black;
	display:none;
}

.small_menu_subitems div{
	border-bottom: 1px dotted #7d7d7d;
}

.last_submenu_item div{
	border-bottom:none;
}



#EN_div{
	background-image: url('../Images/Header/EN_img.png');
}

#FR_div{
	background-image: url('../Images/Header/FR_img.png');
}

#ES_div{
	background-image: url('../Images/Header/ES_img.png');
}

#ZH_div{
	background-image: url('../Images/Header/ZH_img.png');
}

/*########################################### END OF  SMALL MENU STYLE ##################################################*/

/*########################################### STARTING LARGE MENU STYLE ##################################################*/
#large-menu{
	position: relative;
	float: right;
	height: 50%;
	width: 50%;
	padding: 0;
	padding-top: .2em;
}

#large-menu ul {
	padding:0;
	margin:0;
	position: relative;
	list-style-type: none;
	float: right;
	width: 65%;
	
}

#large-menu ul li {
	/*color: #888888;*/
	/*color: #4d94ff;*/
	color: #f49000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	position: relative;
	display: inline;
	line-height: 2.4em;
	/*border-left: 1px dotted #595959;*/
}



#large-menu ul li div:hover ~ .arrow_down{
	border: solid #ffffff;
	border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

/*#large-menu ul li:hover{
	color: #ffffff;
}*/


#large-menu ul li div {
	position: relative;
	margin-top: 0;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	outline: none;
}

#currency_div{
	/*width: 4em;*/
	margin-left: 0;
	width: auto;	
	cursor: pointer;
}

#language_div{
	/*width: 4em;*/
	margin-left: 1.4em;
	width: auto;	
	cursor: pointer;
}

#account_div{
	/*width: 8.5em;*/
	margin-left: 1.4em;
	width: auto;
	cursor: pointer;
}

.arrow_down {
	margin-left:.4em;
	border: solid #f49000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.small_arrow_down {
	margin-left:0;
	border: solid #f49000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.small_menu_arrow_up {
	margin-left:.4em;
	border: solid #f49000;
	border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow_up {
	margin-left:.4em;
	/*border: solid #f49000;*/
	border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/*############################################ account menu #############################################*/

.callout {
	position: absolute;
	width: auto;
	margin-left: 9.1em;
	background: #4d4d4d;
    margin-top: 3em;
    border-radius: 6px;
    /*border: 2px solid #4d94ff;*/
    border: 2px solid  #f49000;
   	box-shadow: 0 2px 2px #444;
}

.border_callout {
	padding: 1px 2px;
}

.notch {
	position:absolute;
	margin-top: -10px;
	margin-left: 55px;
	border-top: 0;
	border-bottom: 10px solid #4d4d4d;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;;
}

.border_callout .border_notch {
	/*border-bottom-color: #4d94ff;*/
	border-bottom-color: #f49000;
	margin-top: -13px;
	margin-left: 55px;
}

#account_menu {
	display:none;	
}


#account_menu ul{
	width: 7.8em;
	padding:0;
	margin:0;
}

#account_menu ul li {
	color: white;
	/*color: #4d94ff;*/
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	position: relative;
	display: block;
	line-height: 2.4em;
	cursor: pointer;
	/*border-left: 1px dotted #595959;*/
}

#account_menu ul li div {
	position: relative;
	margin-top: 0;
	text-align: center;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	outline: none;
}

#acc_men_first_item{
	color:red;
    border-bottom: 1px dotted black;
}

#account_menu ul li:hover>div {
	/*color: #4d94ff;*/
	color: #f49000;
	
}

/*################################## Language Menu ###############################################*/
.lan_callout {
	position: absolute;
	width: auto;
	margin-left: 3.1em;
	background: #4d4d4d;
    margin-top: 3em;
    border-radius: 6px;
    /*border: 2px solid #4d94ff;*/
    border: 2px solid  #f49000;
   	box-shadow: 0 2px 2px #444;
}

.lan_border_callout {
	padding: 1px 2px;
}

.lan_notch {
	position:absolute;
	margin-top: -10px;
	margin-left: 35px;
	border-top: 0;
	border-bottom: 10px solid #4d4d4d;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;;
}

.lan_border_callout .lan_border_notch {
	/*border-bottom-color: #4d94ff;*/
	border-bottom-color: #f49000;
	margin-top: -13px;
	margin-left: 35px;
}

#language_menu ul{
	width: 5.5em;
	padding:0;
	margin:0;
}

.lan_men_items{
	border-bottom: 1px dotted black;
}

#language_menu {
	display:none;	
}

#language_menu ul li {
	color: white;
	/*color: #4d94ff;*/
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	position: relative;
	display: block;
	line-height: 2.4em;
	cursor: pointer;
	
}

#large-menu ul li a{
    text-decoration: none;
    outline:none;
    color: white;
}

#large-menu ul li a:hover{
	color: #f49000;
}	

#language_menu ul li div {
	position: relative;
	padding-left:.5em;
	margin-top: 0;
	text-align: left;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	outline: none;
}

#language_menu ul li div span{
	margin-top: -.3em;
	
}

#language_menu ul li div img{
	position: absolute;
	margin-left: 1.2em;
    margin-top: .75em;
    
}	
	


/*############################################### currency menu ###########################################*/
.cur_callout {
	position: absolute;
	width: auto;
	margin-left: -4.9em;
	background: #4d4d4d;
    margin-top: 3em;
    border-radius: 6px;
    /*border: 2px solid #4d94ff;*/
    border: 2px solid  #f49000;
   	box-shadow: 0 2px 2px #444;
}

.cur_border_callout {
	padding: 1px 2px;
}

.cur_notch {
	position:absolute;
	margin-top: -10px;
	margin-left: 85px;
	border-top: 0;
	border-bottom: 10px solid #4d4d4d;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;;
}

.cur_border_callout .cur_border_notch {
	/*border-bottom-color: #4d94ff;*/
	border-bottom-color: #f49000;
	margin-top: -13px;
	margin-left: 85px;
}

#currency_menu{
    display:none;	
}

#currency_menu ul{
	width:11.5em;
	padding:0;
	margin:0;
}

#currency_menu ul li {
	color: white;
	/*color: #4d94ff;*/
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	position: relative;
	display: block;
	line-height: 2.4em;
	cursor: pointer;
	
}

#currency_menu ul li div {
	position: relative;
	padding-left:.5em;
	margin-top: 0;
	text-align: left;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	outline: none;
}

#currency_menu ul li div span{
  font-size: .9em;
}

.cur_men_items{
	border-bottom: 1px dotted black;
}

#currency_menu ul li:hover>div {
	/*color: #4d94ff;*/
	color: #f49000;
	
}

/*########################################### END OF  LARGE MENU STYLE ##################################################*/


/*########################################### RESPONSIVE DESIGN ###########################################################*/

@media screen and (max-width:319px) {
#header-wrapper{
	position: fixed;
   	height: 3.5em;
}	
#logo-div {
	background-size: 8em;
	margin-left: .3em;
}	

#menu{
	margin-top: -3.5em;
}

#small_menu_icon {
    padding-top: .95em;
    padding-right: 1em;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    margin: 4px 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}

#small_menu{
    width: 100%;
    height: 100%;
}

.small_menu_subitems {
	font-size: .9em;
	padding-left: 1em;
}

.small_menu_items{
	font-size: 1em;
	padding-left: 1em;
	line-height: 2em;
}

#small_language_menu ul li div img{
	width: 22px;
	margin-left: 1.2em;
    margin-top: .6em;
    
}

#cover_screen{
	width: 100%;
	height: 100%;
}

.first_submenu_item{
   margin-top: -.7em;	
  
}

#large-menu{
	display: none;
}
	
}

@media screen and (max-width:480px) and (min-width:320px) {
#header-wrapper{
	position: fixed;
   	height: 3.8em;
}	
#logo-div {
	background-size: 9em;
	margin-left: .4em;
}	

#menu{
	margin-top: -3.8em;
}

#small_menu_icon {
    padding-top: .85em;
    padding-right: 1em;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    margin: 5px 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

#small_menu{
	width: 15em;
	height: 100%;
}

.small_menu_subitems {
	font-size: .9em;
	padding-left: 1em;
}

.small_menu_items{
	font-size: 1em;
	padding-left: 1em;
	line-height: 2em;
}


#small_language_menu ul li div img{
	width: 22px;
	margin-left: 1.2em;
    margin-top: .6em;
    
}

#cover_screen{
	width: 100%;
	height: 100%;
}

#large-menu{
	display: none;
}

.first_submenu_item{
   margin-top: -.7em;	
  
}

}

@media screen and (max-width: 1024px) and (min-width: 481px) {
#header-wrapper{
	position: fixed;
  	height: 4.7em;
}	

#logo-div {
	background-size: 11em;
	margin-left: .5em;
}	
#menu{
	margin-top: -4.7em;
}

#small_menu_icon {
    padding-top: 1.1em;
    padding-right: 1.1em;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#small_language_menu ul li div img{
	width: 26px;
	margin-left: 1.2em;
    margin-top: .82em;
}

#large-menu{
	display: none;
}

#small_menu{
	width: 20em;
	height: 100%;
}

.small_menu_subitems {
	font-size: .95em;
	padding-left: 1.4em;
}

.small_menu_items{
	font-size: 1.2em;
	padding-left: 1.4em;
	padding-top: .3em;
	padding-bottom: .35em;
	line-height: 2.4em;
}

#small_menu ul{
	width: 100%;
}


.first_submenu_item{
   margin-top: -.7em;	
  
}


#cover_screen{
	width: 100%;
	height: 100%;
}

#small_language_menu span{
  padding-bottom:.9em;
}
	
}

@media screen and (min-width: 1025px) {
	
#header-wrapper{
 	height: 5.5em;
}	

#logo-div {
	background-size: 13em;
	margin-left: .4em;
}	

#menu{
	margin-top: -5.5em;
	padding-right: 1em;
}

#small_menu_icon{
 display: none;	
}

#small_menu ul {
	display: none;
}


#small_menu{
  display: none;	
}	


#cover_screen{
	display:none;
}


}

@media screen and (min-width: 1370px) {
	
#logo-div {
  margin-left: -1em;
}	
	
#menu{
  padding-right: 0;
}
	
#small_menu_icon{
 display: none;	
}

#small_menu ul {
	display: none;
}


#small_menu{
  display: none;	
}	

#cover_screen{
	display:none;
}

}